@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
* {
  margin: 0; }

body {
  background: linear-gradient(to right, #f857a6, #ff5858);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

.todo__container {
  background: #fff;
  width: 40%;
  margin: 100px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }

.todoheader {
  margin-bottom: 10px; }
  .todoheader__title {
    font-size: 50px;
    text-transform: uppercase; }
    .todoheader__title--sub {
      font-size: 20px; }

input, .submit__btn {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 16px;
  outline: none; }

.submit__btn {
  background: #ff69b4;
  color: #fff;
  text-transform: uppercase; }
  .submit__btn:hover {
    cursor: pointer; }

.todoList__form {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .todoList__form .delete__btn {
    float: right;
    color: black;
    text-decoration: none;
    margin-top: 16px;
    margin-right: 10px; }
    .todoList__form .delete__btn:hover {
      cursor: pointer; }

.todo__item {
  margin: 10px 0; }
  .todo__item--text {
    margin-left: 20px; }

.complete__btn {
  border: 1px solid #ff69b4;
  padding: 10px;
  border-radius: 5px;
  color: #ff69b4;
  font-size: 16px; }
  .complete__btn:hover {
    cursor: pointer; }

.completed {
  text-decoration: line-through; }
