@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

$background-color: linear-gradient(to right, #f857a6, #ff5858);
$color-1: #ff0000;
$color-2: #ff69b4;
$color-3: #ff1493;
$color-grey-1: #bbb;
$color-grey-2: #eee;

* {
  margin: 0;
}

body {
  background: $background-color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

.todo__container {
  background: #fff;
  max-width: 500px;
  width: 60%;
  margin: 100px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}


.todoheader {
  margin-bottom: 10px;

  &__title {
    font-size: 50px;
    text-transform: uppercase;

    &--sub {
      font-size: 20px;
    }
  }
}

input, .submit__btn {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid $color-grey-2;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.submit__btn {
  background: $color-2;
  color: #fff;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

.todoList__form {
  display: flex;
  justify-content: center;
  flex-direction: column;

  & .edit__btn {
    color: black;
    text-decoration: none;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      cursor: pointer;
    }
  }
  
  

  & .delete__btn {
    color: black;
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    

    &:hover {
      cursor: pointer;
    }
  }
}

.todo__item {
  margin: 20px 0;
  box-sizing: border-box;
  position: relative;


  &--text {
    margin-left: 20px;
    
  }
}

.complete__btn {
  border: 1px solid $color-2;
  padding: 5px;
  border-radius: 5px;
  color: $color-2;
  font-size: 16px;
  margin-right: 15px; 

  &:hover {
    cursor: pointer;
  }
}

.completed {
  text-decoration: line-through;
}

@media only screen and (max-width: 898px) {
  .todo__container {
    width: 80%;
  }
}
