<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>

  <section class="todo__container" ng-controller="TodoController as todo">

    <section class="todoheader">
      <p class="todoheader__title">Listy TODO</p>
      <p class="todoheader__title--sub">A place to store the things you have to do!</p>
    </section>

    <form class="todoList__form">
      <input type="text" placeholder="Filter your todos">

      <ol class="todoList__items">
        <li ng-repeat="task in todo.todoList track by $index" class="todo__item">
          <button class="complete__btn">Complete</button>
          <span class="todo__item--text"><span class="text__span">{{ task.task }}</span><i ng-click="todo.deleteTodo(index)" class="fas fa-times delete__btn"></i></span>
        </li>
      </ol>

      <input id="todoInput" type="text" ng-model="newTodo.task" placeholder="Add your todo">

      <button class="submit__btn" ng-model="delete__btn" ng-click="todo.addTodo(newTodo)">Add</button>
    </form>
    

  </section>
   

  <script src="https://code.angularjs.org/1.6.5/angular.min.js"></script>
  <script src="scripts/module.js"></script>
  <script src="scripts/ctrl.js"></script>
</body>
</html>